<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Movies Login</title>
</head>
<body>
    <div>Login to see Movies. No Login no movies</div>
    <form action="http://localhost:3000/auth" method="post">
        <label for="username">Login:</label>
        <input type="text" name="username" id="username" required></input>
        <label for="password">Password:</label>
        <input type="text" name="password" id="passowrd" required></input>
        <button type="submit">Login</button>
    </form>
</body>
</html>